<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            width: 80%;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            overflow-y: auto;
            max-height: 500px; /* Adjust max-height as needed */
        }
        h1 {
            text-align: center;
        }
        .house-info {
            margin-bottom: 20px;
        }
        .member-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .member {
            margin: 10px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: calc(33% - 20px); /* Adjust width as needed */
            box-sizing: border-box;
        }
        .member-details {
            padding-left: 20px;
        }
        .member-details p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>House Details</h1>
        <div class="house-info">
            <p><strong>House Number:</strong> {{ house.house_no }}</p>
            <p><strong>Address:</strong> {{ house.house_address }}</p>
            <p><strong>Number of Members:</strong> {{ house.no_of_members }}</p>
        </div>
        <div class="member-container">
            {% for i in members %}
            <div class="member">
                <h2>Member {{ forloop.counter }}</h2>
                <div class="member-details">
                    <p><strong>Name:</strong> {{ i.name }}</p>
                    <p><strong>Age:</strong> {{ i.age }}</p>
                    <p><strong>Gender:</strong> {{ i.gender }}</p>
                    <p><strong>Qualification:</strong> {{ i.qualification }}</p>
                    <p><strong>Occupation:</strong> {{ i.occupation }}</p>
                    <p><strong>Any Bad Habits:</strong> {% if i.habit == True %}Yes{% else %}No{% endif %}</p>
                    <!-- pregnant section -->
                    {% for p in pregnant %}
                    {% if p.member.id == i.id %}
                    <p><strong>Pregnant:</strong></p>
                    <p>Pregnant Month: {{p.pregnancy_months}}</p>
                    <p>                    
                        
                        <!-- Pregnancy checkboxes per month -->
                        <div style="display: flex;">
                            <label>Month 1:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month1_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month1_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month1_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 2:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month2_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month2_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month2_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 3:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month3_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month3_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month3_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 4:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month4_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month4_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month4_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 5:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month5_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month5_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month5_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 6:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month6_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month6_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month6_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 7:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month7_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month7_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month7_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 8:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month8_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month8_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month8_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 9:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month9_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month9_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month9_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label>Month 10:</label>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_weight" id="weightCheck_0" value="True" 
                                    {% if p.month10_weight == True %} checked {% endif %} disabled>
                                <label for="weightCheck_0">Weight</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_bp" id="bpCheck_0" value="True" 
                                    {% if p.month10_bp == True %} checked {% endif %} disabled> 
                                <label for="bpCheck_0">BP</label><br>
                            </div>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="month1_hr" id="hpCheck_0" value="True"
                                    {% if p.month10_hr == True %} checked {% endif %} disabled>
                                <label for="hpCheck_0">HR</label><br>
                            </div>
                        </div>
                    </p>
                    {% endif %}
                    {% endfor %}
                    <!-- patient section -->
                    {% for k in patient %}
                    {% if k.member.id == i.id %}
                    <p><strong>Patient:</strong></p>
                    <p>Disease details: {{ k.disease_details }}</p>
                    {% if k.pain == True %} <p>Patient registered on pain and paliative</p> {% endif %}
                    {% if k.disease == True %} <p>Treatments are going well</p> {% endif %}
                    {% endif %}
                    {% endfor %}
                    <!-- children section -->
                    {% for j in children %}
                    {% if j.member.id == i.id %}
                    <p><strong>Child:</strong></p>
                    {% if j.delivery == True %}<p>Delivery vaccine taken</p>{% endif %}
                    {% if j.threemonth == True %}<p>Three Month vaccine taken</p>{% endif %}
                    {% if j.sixmonth == True %}<p>Six Month vaccine taken</p>{% endif %}
                    {% if j.oneyear == True %}<p>One year vaccine taken</p>{% endif %}
                    {% if j.fiveyear == True %}<p>Five year vaccine taken</p>{% endif %}
                    {% if j.tenyear == True %}<p>Ten year vaccine taken</p>{% endif %}
                    {% if j.fifteenyear == True %}<p>Fifteen year vaccine taken</p>{% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <!-- Add m
                ore members as needed -->
        </div>
    </div>
</body>
</html>
