<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <div>
        <a href="/report_edit"><button>Add report</button></a>
    </div>
    <div>
        <a href="/home"><button>Back</button></a>
    </div>
    <div>
        {% if reports %}
        <h1>Reports</h1>
            <div>
                {% for i in reports %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <ul>
                        <li>Name: {{ i.name }}</li>
                        <li>Date: {{ i.date }}</li>
                    </ul>
                    <input type="hidden" name="id" value="{{i.id}}">
                    <td><button type="submit">Edit</button></td>
                </form>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>